body {
  /*background-color: #F1F3FA;*/
  font-family: 'Open Sans', sans-serif;
  margin-bottom:280px;
}

.content{
  background-color:transparent;
}

.btn{
  border-radius:0px;
}

.modal-content{
  border-radius:0px !important;
}

.form-control{
  border-radius:0px !important;
}

/*****************************************************
                        Menus
*****************************************************/
.navbar{
  background-color:#DC7633;
  border:0px;
  border-radius:0px;
  margin-bottom:0px !important;
}

.navbar-brand{
  color:#ffffff;
}

.navbar .navbar-nav > li > a, .navbar .navbar-nav > li > a:hover, .navbar .navbar-nav > li > a:focus {
    background-color: transparent;
    color: #ffffff;
}

@media only screen and (max-width: 768px) {
  .collapsing, .in {
    background-color: transparent; 
    border:0px;
  }
  
  .navbar-collapse{
    text-align:right;
    padding-right:25px;
  }
}

.navbar .navbar-toggle{
    background-color:transparent;
    border:0px;
}

.navbar .navbar-toggle:hover {
    background-color: transparent;
}

.navbar .navbar-toggle:focus {
    background-color: transparent;
}

.navbar .navbar-toggle .icon-bar {
  background-color: #fff;
}

.cl-effect-4 a{
  padding-bottom:5px !important;
}

.cl-effect-4 a::after {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 1px;
	background: #fff;
	content: '';
	opacity: 0;
	-webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
	transition: height 0.3s, opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(-2px);
	-moz-transform: translateY(-2px);
	transform: translateY(-2px);
}

.cl-effect-4 a:hover::after,
.cl-effect-4 a:focus::after {
	height: 2px;
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}

/* Dropdown Menus */

.dropdown-current-event {
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    max-width:180px;
}

@media screen and (max-width: 767px) {
    .dropdown-current-event {
        white-space:inherit;
        max-width:none;
    }
}

.dropdown-menu {
  border-radius:0px;
}

.pull-center{
  left: 50%;
  right: auto;
  transform: translate(-50%, 0);
}

.btn-dropdown-nav{
  border-radius:0px !important;
  background-color:transparent;
  border:2px solid #fff;
  color:#fff;
  margin-top:6px;
  margin-right:15px;
  padding:6px 12px;
}

.page-head{
  background-color:#FBEEE6;
  margin-bottom:20px;
}
.page-head h1{
  margin-top:20px;
  margin-bottom:20px;
}

@media only screen and (max-width: 768px) {
  .page-head h1{
    font-size:18px;
    margin-top:10px;
    margin-bottom:10px;
  }
}


/*****************************************************
                        Matches
*****************************************************/

#table-team-matches {
    display: table;
    border: 1px solid lightgray;
    padding: 10px;
}

.team-matches {
  border: 1px solid lightgray;
  padding: 10px;
}

#table-team-matches-mobile {
    display: none;
}

#team-matches-none {
    display: block;
}

#team-matches-none-mobile {
    display: none;
}

@media screen and (max-width: 768px) {
    #table-team-matches {
        display: none;
    }

    #table-team-matches-mobile {
        word-wrap: break-word;
        display: table;
    }

    #team-matches-none {
        display: none;
    }

    #team-matches-none-mobile {
        display: block;
    }
}

#table-team-matches-mobile #matchnumber {
    width: 7%;
    padding-left: 15px;
    vertical-align: middle;
}

#table-team-matches-mobile #starttime {
    width: 7%;
    vertical-align: middle;
}

/*****************************************************
                        Teams
*****************************************************/

.form-wide {
    width:120px !important;
}

@media screen and (max-width:768px) {
    .form-wide {
        width:100% !important;
        margin-bottom:5px;
    }
}

.fixed {
    top:0;
    position:fixed;
    width:auto;
    display:none;
    border:none;
}

/*****************************************************
               Inspection Legend Header
*****************************************************/

@media screen and (max-width: 468px) {
    #inspection-legend-header1 {
        display:none;
    }
    #inspection-legend-header2 {
        display:none;
    }
    #inspection-legend-header3 {
        display:none;
    }
    #inspection-legend-header4 {
        display:block;
    }
}

@media screen and (max-width: 680px) and (min-width: 468px) {
    #inspection-legend-header1 {
        display:none;
    }
    #inspection-legend-header2 {
        display:none;
    }
    #inspection-legend-header3 {
        display:block;
    }
    #inspection-legend-header4 {
        display:none;
    }
}

@media screen and (max-width: 1205px) and (min-width: 680px) {
    #inspection-legend-header1 {
        display:none;
    }
    #inspection-legend-header2 {
        display:block;
    }
    #inspection-legend-header3 {
        display:none;
    }
    #inspection-legend-header4 {
        display:none;
    }
}

@media screen and (min-width: 1205px) {
    #inspection-legend-header1 {
        display:block;
    }
    #inspection-legend-header2 {
        display:none;
    }
    #inspection-legend-header3 {
        display:none;
    }
    #inspection-legend-header4 {
        display:none;
    }
}

/*****************************************************
                    Sponsor Text
*****************************************************/

@media screen and (max-width: 580px) {
    #sponsor-text {
        font-size: 16px;
    }
}

@media screen and (max-width: 768px) and (min-width: 580px) {
    #sponsor-text {
        font-size: 18px;
    }
}

@media screen and (max-width: 992px) and (min-width: 768px) {
    #sponsor-text {
        font-size: 21px;
    }
}

@media screen and (max-width: 1200px) and (min-width: 992px) {
    #sponsor-text {
        font-size: 25px;
    }
}

@media screen and (min-width: 1200px) {
    #sponsor-text {
        font-size: 30px;
    }
}

/*****************************************************
                    Scroll Text
*****************************************************/

.scroll-left {
 height: 50px;	
 overflow: hidden;
 position: relative;
 background-color: #fbeee6;
 /*border-top: 2px solid #DC7633;*/
}
.scroll-left h4 {
 position: absolute;
 height: 100%;
 margin: 0;
 line-height: 50px;
 text-align: center;
 /* Starting position */
 -webkit-transform:translateX(100%);	
 transform:translateX(100%);
 /* Apply animation to this element */	
 -webkit-animation: scroll-left 30s linear infinite;
 animation: scroll-left 30s linear infinite;
}
/* Mobile - Apply animation to this element */	
@media screen and (max-width: 768px) {
  .scroll-left h4 {
    -webkit-animation: scroll-left 30s linear infinite;
    animation: scroll-left 30s linear infinite;
  }
}
/* Move it (define the animation) */
@-webkit-keyframes scroll-left {
 0%   { -webkit-transform: translateX(100vw); }
 100% { -webkit-transform: translateX(-100vw); }
}
@keyframes scroll-left {
 0%   { 
 -webkit-transform: translateX(100vw);
 transform: translateX(100vw); 		
 }
 100% { 
 -webkit-transform: translateX(-100%);
 transform: translateX(-100%); 
 }
}
@media screen and (max-width: 1024px) {
    .scroll-left {
        display:none;
    }
}
/*****************************************************
                        Forms
*****************************************************/

.resize-form-group {
    padding-bottom:5px;
}
@media only screen and (max-width: 767px) {
    .resize-form-group {
        padding-top:0px;
        padding-bottom:0px;
        margin-bottom:3px;
    }
}